.venv/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
# Usually these files are written by a python script from the installer template
install.log
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytype
.pytype/

# Cython debug symbols
cython_debug/